<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather App</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "style.css" %}">
    </head>
    <body>
        <div class="title">
        <h1>My Weather App</h1>
    </div>
    <div class="card">
        <form method="POST" action="{% url 'weather' %}" id="weather-form">
            {% csrf_token %}
            <div class="search">
                <input type="text" placeholder="Enter city" id="city-search" name="city" />
                <button id="search-button">
                    <img src="{% static 'images/search-icon.svg' %}" alt="Search">
                </button>
    
                <ul id="city-dropdown" class="dropdown"></ul>
            </div>
        </form>
        <div class="weather-details" {% if not weather_list %} style="display: none;" {% endif %}>
            {% for weather in weather_list %}
                <div class="city">
                    <p>{{ weather.location }}</p>
                    Latitude: {{ weather.latitude }},
                    Longitude: {{ weather.longitude }}
                </div>
                <div class="weather">
                    <h1 class="temp">
                        {{ weather.temperature  }} °C
                    </h1>
                    <h2 class="description">
                        {% if weather.weathercode == 0 %}
                            Clear Sky
                        {% elif weather.weathercode <= 3 %}
                            Cloudy
                        {% elif weather.weathercode >= 51 and weather.weathercode <= 67 %}
                            Rain
                        {% elif weather.weathercode >= 71 %}
                            Snow
                        {% else %}
                            Unknown Weather
                        {% endif %}
                    </h2>
                    {% comment %} <p class="time">
                        Updated: {{ weather.time }}
                    </p> {% endcomment %}
                </div>
                
                <img class="weather-icon" src="{% static weather.icon %}" alt="Weather icon">
                <div class="details">
                    <div class="col">
                        <img src="/static/images/humidity-icon.svg" alt="Humidity icon" />
                        <span class="humidity">
                            {{ weather.windspeed }} km/h
                        </span>
                    </div>

                    <div class="col justify-content-center">
                        <img src="{% static 'images/winds.svg' %}" alt="Wind icon" />
                        <span class="direction">
                            Wind Direction: {{ weather.direction }}°
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% load static %}
    <script src="{% static 'app.js' %}"></script>
    </body>
</html>